@use '@/assets/styles/ui.scss';

.logo-area {
    color: ui.$colors-ui-white;
}

.login-page-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    width: 100vw;
    max-width: 600px;
    height: auto;
    border: 1px ui.$colors-ui-red solid;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    //justify-content: center;
    align-items: center;
    background-color: ui.$colors-ui-black; //figure out this guy. I think my box isn't quite right
    box-shadow: 4px 8px #888888;
    row-gap: ui.$spacing-medium-large;

    & div,
    p {
        color: ui.$colors-ui-tan; //specific to the p elements in login-box same as .login-box p {}
    }

    padding: ui.$spacing-medium-large;

    // & .input-container {
    //     //padding: 16px;
    // }
}

// @media screen and (min-width: 769 px) {
//     .login-box {
//         width: 750px;
//         height: 50vh;
//     }
// }

// @media screen and (min-width: 1200 px) {
//     .login-box {
//         width: 500px;
//         height: unset;
//     }
// }

.input-container {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: ui.$spacing-small;
}

.button-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center; // Spread buttons apart
    column-gap: ui.$spacing-extra-small;
    padding: ui.$spacing-medium;
}
