// Global Colors Here

$colors-ui-white: #f4f4f4;
$colors-yellow: #e8c547;
$colors-ui-black: #30323d;
$colors-ui-grey: #4d5061;
$colors-ui-blue: #5c80bc;
$colors-ui-tan: #cdd1c4;
$colors-ui-red: rgb(198, 37, 37);

$colors-background: $colors-ui-tan;
$colors-border: $colors-ui-grey;
$colors-general-text: $colors-ui-grey;
